<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="icon" type="image/x-icon" href="logo.ico"/>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body>
    <!-- Top bar -->
    <section>
        <div class="w-100" style="background-color: var(--main-color)">
            <div class="container py-2">
                <div class="d-flex align-items-center">
                    <!-- Banner -->
                    <a href="#"><img src="banner-light.png" alt="" height="50"></a>

                    <!-- Search -->
                    <div class="d-flex ms-5 flex-fill">
                        <div class="position-relative ms-3 w-75">
                            <input type="text" class="rounded-1 w-100 border-0 ps-3 py-1" style="padding-right: 30px;" placeholder="Tìm kiếm theo tên đề, tên danh mục, tags, ...">
                            <i title="Tìm kiếm" class="opacity-hover fa-solid fa-magnifying-glass position-absolute end-0 top-50 translate-middle-y me-2"></i>
                        </div>
                    </div>

                    <!-- Status -->
                    <i class="fa-solid fa-bell text-white opacity-hover" title="Thông báo"></i>
                    <div class="d-flex ms-3 align-items-center">
                        <img src="" alt="" width="36" height="36" class="rounded-pill">
                        <div class="d-flex flex-column mx-2">
                            <div class="fw-light text-white">B22DCCN589</div>
                            <div class="fw-bold" style="font-size: 11px; color: var(--secondary-color)">Admin</div>
                        </div>
                        <i class="fa-solid fa-chevron-down fs-6 text-white opacity-hover"></i>
                    </div>
                </div> 
            </div>
        </div>
    </section>

    <!-- Navigation -->
    <section>
        <div class="w-100 shadow-sm">
            <div class="container">
                <div id="navigation-tab" class="d-flex justify-content-between fw-bold">
                    <div class="flex-fill mx-1 text-center nav-tab selected">Đề thi trắc nghiệm</div>
                    <div class="flex-fill mx-1 text-center nav-tab">Tài liệu</div>
                    <div class="flex-fill mx-1 text-center nav-tab">Cộng đồng</div>
                    <div class="flex-fill mx-1 text-center nav-tab">Tutorials</div>
                </div>
            </div>
        </div>
    </section>

    <!-- Main Content -->
    <section>
        <div class="my-5" style="min-height: 100vh;">
            <div class="container">
                <div class="row g-3">
                    <div class="col-12">
                        <button class="border bg-white shadow-sm p-1 px-2 highlight-hover"><i class="fa-solid fa-chevron-left"></i> Về danh sách</button>
                    </div>

                    <div class="col-3">
                        <div class="card card-body shadow-sm overflow-hidden bg-with-image">
                            <!-- Title -->
                            <h6 class="border-bottom pb-3 mb-3">Đề thi thử Vật lý 3</h6>
                            <div class="d-flex flex-wrap justify-content-start">
                                <!-- <div class="text-center question-index-selected fw-light align-content-center highlight-hover me-2 mb-2 border-1 border rounded-1" style="width: 30px; height: 30px;">1</div> -->
                                <div class="text-center fw-light align-content-center highlight-hover me-2 mb-2 border-1 border rounded-1" style="width: 32px; height: 32px;">1</div>
                                <div class="text-center fw-light align-content-center highlight-hover me-2 mb-2 border-1 border rounded-1" style="width: 32px; height: 32px;">1</div>
                                <div class="text-center fw-light align-content-center highlight-hover me-2 mb-2 border-1 border rounded-1" style="width: 32px; height: 32px;">1</div>
                                <div class="text-center fw-light align-content-center highlight-hover me-2 mb-2 border-1 border rounded-1" style="width: 32px; height: 32px;">1</div>
                                <div class="text-center fw-light align-content-center highlight-hover me-2 mb-2 border-1 border rounded-1" style="width: 32px; height: 32px;">1</div>
                                <div class="text-center fw-light align-content-center highlight-hover me-2 mb-2 border-1 border rounded-1" style="width: 32px; height: 32px;">1</div>
                                <div class="text-center fw-light align-content-center highlight-hover me-2 mb-2 border-1 border rounded-1" style="width: 32px; height: 32px;">1</div>
                                <div class="text-center fw-light align-content-center highlight-hover me-2 mb-2 border-1 border rounded-1" style="width: 32px; height: 32px;">1</div>
                                <div class="text-center fw-light align-content-center highlight-hover me-2 mb-2 border-1 border rounded-1" style="width: 32px; height: 32px;">1</div>
                                <div class="text-center fw-light align-content-center highlight-hover me-2 mb-2 border-1 border rounded-1" style="width: 32px; height: 32px;">1</div>
                                <div class="text-center fw-light align-content-center highlight-hover me-2 mb-2 border-1 border rounded-1" style="width: 32px; height: 32px;">1</div>
                                <div class="text-center fw-light align-content-center highlight-hover me-2 mb-2 border-1 border rounded-1" style="width: 32px; height: 32px;">100</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-9">
                        <p class="mb-1"><b>Câu 1: </b><span class="fw-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quia corrupti impedit eos laudantium dolor iure nobis corporis, cumque quas delectus id officiis amet ea! Necessitatibus praesentium ipsum qui laborum?</span></p>
                        <div class="d-flex mb-1 align-items-center text-secondary" style="font-size: 10px;">
                            <span>23</span>
                            <i class="fa-solid fa-eye mx-1"></i>
                            <span>23 Lượt làm</span>
                        </div>
                        <div class="media">
                            <div class="fw-bold mb-2 opacity-hover" style="font-size: 13px; color: var(--secondary-color)">Ẩn <i class="fa-solid fa-chevron-down"></i></div>
                            <audio controls class="mb-3 shadow-sm rounded-5 bg-white">
                                <source src="testaudio.mp3" type="audio/mpeg">
                                <source src="testaudio.mp3" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                            <div class="row g-2 mb-2">
                                <!-- Image -->
                                <div class="col-6">
                                    <img src="testbg.jpg" alt="" class="shadow-sm w-100">
                                </div>
                                <div class="col-6">
                                    <img src="testbg.jpg" alt="" class="shadow-sm w-100">
                                </div>
                                <!-- Video -->
                                <div class="col-6">
                                    <video controls class="shadow-sm w-100">
                                        <source src="testvideo.mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Answer -->
                        <div class="card card-body highlight-hover fw-light mb-2">
                            A. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptatem amet qui corrupti nisi ratione aspernatur fugit est consequuntur ipsam maxime unde natus repudiandae commodi, officiis architecto. Modi, perferendis iure.
                            <div class="row g-2 mt-2">
                                <!-- Image -->
                                <div class="col-4">
                                    <img src="testbg.jpg" alt="" class="shadow-sm w-100">
                                </div>
                                <div class="col-4">
                                    <img src="testbg.jpg" alt="" class="shadow-sm w-100">
                                </div>
                            </div>
                        </div>

                        <div class="card card-body highlight-hover fw-light mb-2">
                            B. Lorem, ipsum dolor sit amet consectetur adipisicing elit. At ratione, laudantium asperiores saepe quia cum facilis ad cumque voluptatum quod, repellat, aliquam maiores animi alias tempora sapiente repudiandae ducimus. Ducimus.
                        </div>
                        <div class="card card-body highlight-hover fw-light mb-2 selected-answer">
                            C. Lorem, ipsum dolor sit amet consectetur adipisicing elit. At ratione, laudantium asperiores saepe quia cum facilis ad cumque voluptatum quod, repellat, aliquam maiores animi alias tempora sapiente repudiandae ducimus. Ducimus.
                        </div>
                        <div class="card card-body highlight-hover fw-light mb-2">
                            D. Lorem, ipsum dolor sit amet consectetur adipisicing elit. At ratione, laudantium asperiores saepe quia cum facilis ad cumque voluptatum quod, repellat, aliquam maiores animi alias tempora sapiente repudiandae ducimus. Ducimus.
                        </div>

                        <!-- Result -->
                        <div class="d-flex flex-column">
                            <!-- Key -->
                            <span class="fw-bold" style="color: var(--success-color);"><i class="fa-solid fa-check"></i> Bạn đã chọn đúng</span>
                            <span class="fw-bold" style="color: var(--error-color);"><i class="fa-solid fa-xmark"></i> Bạn đã chọn sai</span>
                            <span class="fw-light my-2"> Đáp án đúng D</span>
                            <div class="card card-body mb-2 text-white border-0 shadow-sm" style="background-color: var(--secondary-color);">
                                C. Lorem, ipsum dolor sit amet consectetur adipisicing elit. At ratione, laudantium asperiores saepe quia cum facilis ad cumque voluptatum quod, repellat, aliquam maiores animi alias tempora sapiente repudiandae ducimus. Ducimus.
                            </div>
                            <!-- Explaination -->
                            <span class="fw-light my-2"><i class="fa-solid fa-lightbulb text-warning"></i> Giải thích</span>
                            <div class="card card-body fw-light mb-2">
                                D. Lorem, 
                            </div>
                        </div>

                        <div class="d-flex justify-content-center mt-3">
                            <button class="border bg-white shadow-sm p-1 px-2 highlight-hover"><i class="fa-solid fa-share"></i> Kết thúc</button>
                            <button class="border bg-white shadow-sm p-1 px-2 highlight-hover ms-2">Câu tiếp theo <i class="fa-solid fa-chevron-right"></i></button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <!-- Footer -->
    <section>
        <div class="w-100 text-white" style="background-color: var(--main-color);">
            <div class="container pt-5">
                <div class="row g-3">

                    <!-- Intro -->
                    <div class="col-4">
                        <a href="#"><img src="banner-light.png" alt="" height="50"></a>
                        <p class="mt-2 fw-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A perferendis similique voluptas officiis doloribus dolores, consectetur, magni assumenda cupiditate illum dolorum optio sit. Excepturi commodi, impedit fugiat a nam quasi?</p>
                        <div class="d-flex">
                            <i class="fa-brands fa-facebook me-2 opacity-hover" title="Facebook"></i>
                            <i class="fa-brands fa-instagram me-2 opacity-hover"></i>
                            <i class="fa-brands fa-twitter me-2 opacity-hover"></i>
                            <i class="fa-brands fa-youtube me-2 opacity-hover"></i>
                        </div>
                    </div>

                    <!-- Products -->
                    <div class="col-4">
                        <h5 class="mb-3">Websites</h5>
                        <div class="d-flex flex-column">
                            <a href="" class="text-decoration-none text-light opacity-hover mb-2 fw-light">Giới thiệu</a>
                            <a href="" class="text-decoration-none text-light opacity-hover mb-2 fw-light">ZTools - Công cụ hỗ trợ chuyển đổi và tải xuống</a>
                            <a href="" class="text-decoration-none text-light opacity-hover mb-2 fw-light">ZBlog - Chia sẻ kiến thức và tin tức</a>
                        </div>
                    </div>

                    <!-- Contact -->
                    <div class="col-4">
                        <h5 class="mb-3">Tương tác</h5>
                        <div class="d-flex flex-column">
                            <div class="text-light fw-light mb-1">Đăng kí nhận thông báo qua email</div>
                            <input type="email" placeholder="Email của bạn" class="px-2 py-1 border-0 mb-2">
                            <button class="border-0 text-white py-1" style="background-color: var(--secondary-color);">Đăng kí</button>
                        </div>
                        
                        <h5 class="mb-3 mt-4">Liên hệ</h5>
                        <div class="d-flex flex-column">
                            <a href="" class="text-decoration-none text-light opacity-hover mb-2 fw-light">
                                <i class="fa-solid fa-envelope me-2"></i>hoangcn.dev@gmail.com</a>
                        </div>
                    </div>

                    <!-- Copyright -->
                    <div class="col-12">
                        <p class="text-center border-top pt-2">&copy; Copyright 2024, All Rights Reserved by HoangCN - Version 1.0</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <script>
        $(document).ready({
            // Add answer click lisnter
            
        });
    </script>
</body>
</html>